@import url('https://fonts.cdnfonts.com/css/chiller');
@import url('https://db.onlinewebfonts.com/c/7cc6719bd5f0310be3150ba33418e72e?family=Comic+Sans+MS');

/* for non-mobile */
@media screen and (min-width: 800px) {

  div,
  a,
  span,
  h1,
  h2 {
    align-self: center;
  }
}

body {
  color: white;
  background-image: url('bluedanz.gif');
  font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

marquee {
  font-size: 1.5rem;
  color: red;
  font-family: "Comic Sans MS", "Chiller", sans-serif;

}

h1,
h2 {
  text-align: center;
}

h2 {
  font-size: 2.1rem;
  font-family: 'Chiller', sans-serif;
  color: red;
}


a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:link {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

.band {
  font-size: 1.4rem;
}

.fiction-title {
  font-size: 1.3rem;
  color: white;
  text-shadow:
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.flex-ctx {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
}

.webmaster {
  margin: .7rem;
  align-self: center;
  animation: colorchange 60s alternate infinite;
}

@keyframes colorchange {
  100% {
    filter: hue-rotate(260deg);
  }
}
